/* set the space after the tittle */
h1, h2, h3, p {
    margin-bottom: 0  !important;
    margin-top: 0;
    margin-left:0;
    margin-right:0;
  }

  .section-title, .section-subtitle, .section-text, .block-title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
/* set the space before the paragraph */
