<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ block "title" . }}{{ .Title }}{{ end }}</title>
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  {{ $styles := resources.Get "css/custom.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
  {{ block "head" . }}{{ end }}
</head>
<body>
  {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
  <main>
    {{ block "main" . }}{{ .Content }}{{ end }}
  </main>
  {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
</body>
</html>
